<div class="settings">
    <label>Color 1</label>
    <div class="colors">
      <span class="waves-effect waves-light btn btn-small" *ngFor = "let color of colors" [ngClass] = "color" (click)="color1 = color"></span>
    </div>

    <input type="range" min="0" max="100" [(ngModel)] = "percentColor1"/>

    <label>Color 2</label>
    <div class="colors">
      <span class="waves-effect waves-light btn btn-small" *ngFor = "let color of colors.reverse()" [ngClass] = "color" (click)="color2 = color"></span>
    </div>
    <input type="range" min="0" max="100" [(ngModel)] = "percentColor2"/>

    <label>Width</label>
    <input type="range" min="0" max="1000" step="50" [(ngModel)] = "width"/>

    <label>Height</label>
    <input type="range" min="0" max="1000" step="50" [(ngModel)] = "height" />

    <label>Font size</label>
    <input type="range" min="12" max="72" [(ngModel)] = "fontSize"/>
  </div>
